.game__controlers{
  max-width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px auto;
}

.game__controlers_select{
  width: 170px;
  display: inline-block;
}

.game_solution_mini-items{
  display: flex;
  justify-content: center;
  &>div{
    margin-right: 10px;
  }
}

.game__controlers__item{
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.game__splash-screen{
  background-image: url('./img/starwars_logo_black_yellow.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 306px;
  height: 131px;
  margin: 80px auto;
}
