.game__controlers{
  max-width: 200px;
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
}

.game__controlers_select{
  width: 100px;
  display: inline-block;
}

.game_solution_mini-items{
  display: flex;
  justify-content: center;
  &>div{
    margin-right: 10px;
  }
}
