.grid-wrapper{
  max-width: 95%;
  margin: auto;
}

.grid{
  display: inline-block;
  border: 2px solid grey;
}

.grid-row{
  display: flex;
}

.grid-cell{
  border: 1px solid grey;
  display: flex;
  flex: 1;
  min-width: 35px;
  min-height: 35px;
  justify-content: center;
  align-items: center;
  position: relative;
  &>i{
    position: absolute !important;
  }
}

.grid-cell-teleportal{
  &>i{
    opacity: 0.5;
  }
}

.grid-cell-teleportal--active{
  &>i{
    opacity: 1;
  }
}

.grid-cell--pressure-pad{
  background-color: wheat;
}
.grid-cell--pressure-pad--active{
  background-color: lightgreen;
}
